<%= form_with model: @comment, url: user_post_comments_path(@user, @post), method: :post, class: 'form' do |f| %>
  <div> <%= f.label :text, 'Enter comment' %><br> <%= f.text_field :text %> </div>
  <div> <%= f.submit "Add a comment" %> </div>
<% end %>