<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
<<<<<<< HEAD
      <%= I18n.t("errors.messages.not_saved",
=======
    <%= I18n.t("errors.messages.not_saved",
>>>>>>> 9fcc4eacc1865e4fd24c87cda75c6a5f5125329f
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
