<article class="user">
    <img class="user-img" src="<%=user.photo%>", alt="post_image"/>
    <article class="user-info">
        <h2 class="user-name"><%= link_to (user.name), user%></h2> 
        <p class="post-count">Number of posts: <%=user.posts_counter%></p>
    </article>
</article>