/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to new a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.users-ctn {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.user-ctn {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.user-l-info {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(102, 102, 102, 0.78);
}

.post-ctn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.post-info-ctn {
  display: flex;
  flex-direction: column;
}

.post-info-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-right-info {
  display: flex;
  gap: 20px;
}
